*{
	margin: 0;
	padding: 0;
}
body , #kuang::before{
	background: url(../images/beijing.jpg);
}
#beijing{
	height:100vh;
	width: 100%;
}
#kuang{
	background: #ffffff; 
	height: 500px;
	width: 1000px;
	margin-left: 13%;
	position: absolute;
	top:50px;
	border-radius: 10px;
	overflow: hidden;
   background: hsla(0,0%,100%,.3);

}
#kuang img{
	max-height: 15%;
	max-width: 15%;
	border-radius: 5px;
}

#daohang li{
	display: inline-block;
	background-color: #979d9e;
	height: 30px;
	width: 100px;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
}
#daohang a{
	text-decoration: none;
	color: black;
	font-family: "微软雅黑";

}
#daohang li a:hover{
	color: #ffffff;
}
#daohang{
	display: inline;
	float:left;
	margin-top: -50px;
	margin-left: 120px;
}
#wenzi{
	position: absolute;
	margin-top:-160px;
	margin-left: 160px;
}
#wenzi h2,p{
	font-family: "微软雅黑";
}
#kuang::before{
	content: '';
	 position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    -webkit-filter: blur(10px);
       -moz-filter: blur(10px);
        -ms-filter: blur(10px);    
            filter: blur(10px);
     margin: -30px;
                                  /* for debugging */
  z-index: -1;
}
